In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'selenium'

In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.3.0-py3-none-any.whl (981 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.3.0 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [3]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [8]:
#Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

#You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [9]:
url = 'https://www.naukri.com/'
driver.get(url)

In [10]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [11]:
#write on search bar
search_job.send_keys('Data Analyst')

In [12]:
#finding web element for search icon bar using relative xpath
search_locn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [13]:
#finding web element for job locn on bar
search_locn.send_keys('Bangalore')

In [14]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [15]:
#getting the job title
job_title=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)

In [16]:
#getting job location
job_location=[]

job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)

In [17]:
#getting company name
company=[]

comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])

In [18]:
#Experience
exp=[]

expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)
driver.close()

In [19]:
#Creaing the data frame to get top 10 results

data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
1,Data Science / Data Engineer / Business Analys...,Bangalore/Bengaluru,NETWORTH DATA PRODUCTS PRIVATE LIMITED,0-3 Yrs
2,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Hudsons bay Company (HBC),3-4 Yrs
4,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
5,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
6,Business Analyst/Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, D...",Telamon HR Solutions,3-5 Yrs
7,Junior Data Analyst,"Bangalore/Bengaluru, New Delhi",ICF Next,1-6 Yrs
8,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
9,Data Analyst - Python/SQL,Bangalore/Bengaluru,Affine,3-5 Yrs

In [23]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

#You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [24]:
url = 'https://www.naukri.com/'
driver.get(url)

In [25]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [26]:
#write on search bar
search_job.send_keys('Data Scientist')

In [27]:
#finding web element for search icon bar using relative xpath
search_locn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [28]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [29]:
job_title=[]
job_location=[]
company=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
    
job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
    
comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
    
driver.close()

In [30]:
#Creating data frame to get to 10 jobs data
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company})
data

,Job-Title,Job-Location,Company_Name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Spiceworks
3,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
4,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
5,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
6,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
7,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC

In [31]:
#Q3: In this question you have to scrape data using the filters available on the webpage

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [32]:
url = 'https://www.naukri.com/'
driver.get(url)

In [33]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [34]:
#write on search bar
search_job.send_keys('Data Scientist')

In [35]:
#finding web element for search icon bar using relative xpath
search_btn=driver.find_element(By.XPATH, '/html/body/div/div[2]/div[3]/div/div/div[6]')

In [36]:
search_btn.click()

In [37]:
loc_filter=driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')

In [38]:
loc_filter.click()

In [39]:
sal_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')

In [40]:
sal_filter.click()

In [41]:
job_title=[]
job_location=[]
company=[]
exp=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
    
job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
    
comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
    
expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)

    
driver.close()

In [42]:
#Creating data frame to get the result
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Science Associate,Delhi / NCR(Vaishali),Kreate Energy,2-4 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

In [43]:
# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

#Brand
#Product Description
#Price

#connect to the web driver
driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [44]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [45]:
time.sleep(3)

In [46]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [47]:
search_tag=driver.find_element(By.CLASS_NAME, "_3704LK")
search_tag.send_keys("Sunglasses")

In [48]:
search_button=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [49]:
# creating required list for processing
brand=[]
product_dis=[]
price=[]
discount=[]

#Defining a function that include scrapping functions
def scrap():
    
    brnd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd:
        if(len(brand)==100):
            break
        else:
            brand.append(i.text)
        dis=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
        for i in dis:
            if(len(product_dis)==100):
                break
            else:
                product_dis.append(i.text)
        pri=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        for j in pri:
            if(len(price)==100):
                break
            else:
                price.append(j.text)
        dis=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
        for j in dis:
            if(len(discount)==100):
                break
            else:
                discount.append(j.text)
                
#now we are going to 100 sunglasses 
for i in range(0,3):
    if(i==0):
        scrap()
    elif i==1:
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        time.sleep(3)
        scrap()
    elif(i==2):
        driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
        time.sleep(3)
        scrap()
driver.close()

In [50]:
Sunglass=pd.DataFrame({'Brand':brand,'Product Details':product_dis,'Price':price,'Discount':discount})
Sunglass

,Brand,Product Details,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
1,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹664,66% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹249,84% off
...,...,...,...,...
95,Ray-Ban,UV Protection Cat-eye Sunglasses (60),₹385,73% off
96,VINCENT CHASE,UV Protection Aviator Sunglasses (54),₹246,84% off
97,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹154,89% off
98,ROYAL SON,Riding Glasses Wrap-around Sunglasses (Free Size),₹299,88% off
99,GANSTA,"UV Protection, Riding Glasses Rectangular Sung...",₹426,80% off

In [51]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
#This task will be done in following steps:

#First get the webpage https://www.flipkart.com/
#Enter “iphone 11” in “Search” field .
#Then click the search button.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [52]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [53]:
time.sleep(3)

In [54]:

b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [55]:
search_tag=driver.find_element(By.CLASS_NAME,"_3704LK")
search_tag.send_keys("iphone 11")

In [56]:
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [58]:
#Now get the newly opened window
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [59]:
rating=[]
review_sum=[]
review_dis=[]

j=1
def i_scrap():
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    rdis=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rdis:
        review_dis.append(i.text)
i_scrap()
next_b=driver.find_elements(By.CLASS_NAME,"ge-49M")
for b in next_b:
    i_scrap()
len(rating)

110

In [60]:
iphone_rating=pd.DataFrame({'Rating':rating,'Review_Summery':review_sum,'Review_Disciption':review_dis})
iphone_rating[:100]

,Rating,Review_Summery,Review_Disciption
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

In [61]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [62]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [63]:
time.sleep(3)

In [64]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [65]:
search_tag=driver.find_element(By.CLASS_NAME,"_3704LK")
search_tag.send_keys("sneakers")

In [66]:
time.sleep(3)

In [67]:
search_button=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [68]:
brand=[]
product_dis=[]
price=[]
discount=[]

#Defining a function that include scrapping functions
def scrap():
    
    brnd=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brnd:
        if(len(brand)==100):
            break
        else:
            brand.append(i.text)
        dis=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
        for i in dis:
            if(len(product_dis)==100):
                break
            else:
                product_dis.append(i.text)
        pri=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
        for j in pri:
            if(len(price)==100):
                break
            else:
                price.append(j.text)
        dis=driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
        for j in dis:
            if(len(discount)==100):
                break
            else:
                discount.append(j.text)
                
#now we are going to 100 sunglasses 
for i in range(0,3):
    if(i==0):
        scrap()
    elif i==1:
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        time.sleep(3)
        scrap()
    elif(i==2):
        driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
        time.sleep(3)
        scrap()
        
driver.close()

In [69]:
# Creating one data fram using scrapped data             
sneakers=pd.DataFrame({'Brand':brand,'Product Details':product_dis,'Price':price,'Discount':discount})
sneakers

,Brand,Product Details,Price,Discount
0,RapidBox,Modern Trendy Sneakers Shoes Sneakers For Men,₹590,40% off
1,RapidBox,Sneakers For Men,₹630,36% off
2,BRUTON,Kwik FIT casual sneaker shoes and partywear sh...,₹284,78% off
3,Magnolia,Puma Smash v2 L Sneakers For Men,₹399,60% off
4,KWIK FIT,Sneakers For Men,₹397,80% off
...,...,...,...,...
95,SiR CORBETT,Kwik FIT casual sneaker shoes and partywear sh...,₹449,55% off
96,Earton,Puma Smash v2 L Sneakers For Men,₹425,57% off
97,PROVOGUE,Sneakers For Men,₹442,55% off
98,LE GREEM,Original Luxury Branded Fashionable Men's Casu...,₹299,70% off
99,Bonexy,"Stylish Comfortable Lightweight, Breathable Wa...",₹620,37% off

In [70]:
#Q7: Go to webpage https://www.amazon.in/

#Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

#Title
#Ratings
#Price

driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [71]:
url = 'https://www.amazon.in/'
driver.get(url)

In [72]:
time.sleep(3)

In [73]:
amazon_searchtext=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
amazon_searchtext.send_keys("Laptop")

In [74]:
time.sleep(3)

In [80]:
driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [81]:
lap_title=[]
lap_pri=[]
lap_rate=[]
#def lap_scrap():
ti=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in ti:
    if(len(lap_title)==10):
        break
    else:
        lap_title.append(i.text)
rt=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
for i in rt:
    if(len(lap_rate)==10):
        break
    else:
        lap_rate.append(i.get_attribute('aria-label'))

pr=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pr:
    if(len(lap_pri)==10):
        break
    else:
        lap_pri.append(i.text)
        
driver.close()

In [82]:
lap=pd.DataFrame({'Lap Titile':lap_title,'Lap Price':lap_pri,'Lap Rating':lap_rate})
lap

,Lap Titile,Lap Price,Lap Rating
0,Hp 14S 11Th Gen Intel Core I3- 8Gb Ram/256Gb S...,"36,990",4.2 out of 5 stars
1,HP 15- AMD Ryzen 3-3250U 15.6 inch(39.6 cm) FH...,"38,999",4.2 out of 5 stars
2,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","25,990",4.1 out of 5 stars
3,"Dell New Inspiron 3525 Laptop, AMD Athlon Silv...","31,500",4.0 out of 5 stars
4,Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...,"23,049",3.7 out of 5 stars
5,HP 14 10th Gen Intel Core i5 Processor 14 inch...,"25,490",4.0 out of 5 stars
6,Lenovo IdeaPad Slim 5i 11th Gen Intel Core i5 ...,"69,600",4.3 out of 5 stars
7,,"70,990",4.0 out of 5 stars
8,Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...,,4.0 out of 5 stars
9,HP 247 G8 Laptop (Athlon P-3045B HD/ 14 inch(3...,"28,980",3.8 out of 5 stars

In [83]:
#Q8: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

#You have to scrape company name, No. of days ago when job was posted, Rating of the company.

#connect to the web driver
driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [84]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [85]:
driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]").click()

In [86]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

In [87]:
driver.find_element(By.CLASS_NAME,"ctas-btn-medium").click()

In [88]:
driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]").click()

In [89]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [90]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [91]:
time.sleep(3)

In [92]:
company=[]
no_day=[]
com_rating=[]
com=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in com:
    company.append(i.text.split('\n')[0])
    if len(com_rating)==0:
        com_rating.append(i.text.split('\n')[2])
    else:
        com_rating.append(i.text.split('\n')[1])
com_rating=com_rating[:10]
company=company[:10]
days=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in days:
    no_day.append(i.text.split(','))
no_day=no_day[0::2]

driver.close()

In [93]:
jobs=pd.DataFrame({'Company':company,'Company Rating':com_rating,'No of Days ago':no_day})
jobs

,Company,Company Rating,No of Days ago
0,Optum Global Solutions (India) Private Limited,4.1,[11d ago]
1,Optum Global Solutions (India) Private Limited,4.1,[18d ago]
2,GENPACT India Private Limited,4.0,[2d ago]
3,Latent bridge,4.5,[9d ago]
4,Dew Solutions Pvt. Ltd.,4.3,[16d ago]
5,InfoEdge India Ltd.,3.9,[17d ago]
6,Info Edge India Limited,3.9,[17d ago]
7,Info Edge India Limited,3.9,[4d ago]
8,Careerera,3.8,[12d ago]
9,CRMnext,4.1,[1mon ago]

In [94]:
#Q9: Write a python program to scrape the salary data for Data Scientist designation.

#You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

#connect to the web driver
driver=webdriver.Edge(r'C:\Users\Nitin\Downloads\edgedriver_win64\msedgedriver.exe')

In [95]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [96]:
driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]").click()

In [97]:
driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')

In [98]:
#now  we want to extract all  the  10 comapny names here 
company_names=[]
co_nametag= driver.find_elements(By.XPATH,'//div[@class="company-info"]/a')

for i in  co_nametag:
    com_name=(i.text.split('\n')[0])
    company_names.append(com_name)
company_names

['Google',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Tekion',
 'Amazon',
 'Servicenow Software Development India',
 'Flipkart',
 'Walmart',
 'PayPal',
 'Myntra']

In [99]:
#Now we will fetch the min, avg and max Salary
avg_sal=[]
min_sal=[]
max_sal=[]
asal=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in asal:
    avg_sal.append(i.text)
misal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in misal:
    min_sal.append(i.text)
max_sal=min_sal[1::2]
min_sal=min_sal[0::2]

In [100]:
#now  we  will  be fetching  the  experience   here 
company_exp=[]
exp_tag= driver.find_elements(By.XPATH, '//div[@class="sbold-list-header"]')
for i in exp_tag:
    com_exp=i.text
    company_exp.append(com_exp)
company_exp

['1-3 yrs experience (based on 35 salaries)',
 '1-4 yrs experience (based on 274 salaries)',
 '2 yrs experience (based on 18 salaries)',
 '2-4 yrs experience (based on 35 salaries)',
 '1-4 yrs experience (based on 122 salaries)',
 '2-4 yrs experience (based on 60 salaries)',
 '1-4 yrs experience (based on 64 salaries)',
 '1-4 yrs experience (based on 87 salaries)',
 '1-2 yrs experience (based on 29 salaries)',
 '1 yr experience (based on 10 salaries)']

In [101]:
salary = pd.DataFrame({})

salary['Comapnay_names']=company_names
salary['minimum_salary']=min_sal
salary['Average_salary']=avg_sal
salary['Maximum_salary']=max_sal
salary['Experiences_req']=company_exp
salary

,Comapnay_names,minimum_salary,Average_salary,Maximum_salary,Experiences_req
0,Google,₹ 11.0L,₹ 31.3L,₹ 65.0L,1-3 yrs experience (based on 35 salaries)
1,Microsoft Corporation,₹ 13.0L,₹ 24.0L,₹ 50.0L,1-4 yrs experience (based on 274 salaries)
2,Goldman Sachs,₹ 12.0L,₹ 23.0L,₹ 34.0L,2 yrs experience (based on 18 salaries)
3,Tekion,₹ 12.0L,₹ 21.2L,₹ 33.0L,2-4 yrs experience (based on 35 salaries)
4,Amazon,₹ 8.0L,₹ 21.0L,₹ 45.0L,1-4 yrs experience (based on 122 salaries)
5,Servicenow Software Development India,₹ 13.0L,₹ 20.5L,₹ 28.0L,2-4 yrs experience (based on 60 salaries)
6,Flipkart,₹ 7.5L,₹ 20.4L,₹ 31.0L,1-4 yrs experience (based on 64 salaries)
7,Walmart,₹ 11.4L,₹ 20.0L,₹ 32.5L,1-4 yrs experience (based on 87 salaries)
8,PayPal,₹ 11.0L,₹ 19.9L,₹ 31.0L,1-2 yrs experience (based on 29 salaries)
9,Myntra,₹ 14.0L,₹ 19.5L,₹ 27.0L,1 yr experience (based on 10 salaries)